* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Dancing Script";
    src: url(../multimedia/fonts/DancingScript-VariableFont_wght.ttf);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*SECCIONES GENERALES*/
.section-padding {
    padding: 70px 0;
}